<div class="container-fluid purchase-dialog">
  <div class="row">
    <div class="col-sm-12">
      <h1>Purchase History</h1>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <table
        mat-table
        [dataSource]="transactions"
        class="mat-elevation-z8"
        multiTemplateDataRows
      >
        <ng-container matColumnDef="purchase-no">
          <th mat-header-cell *matHeaderCellDef>No</th>
          <td mat-cell *matCellDef="let element">
            {{ element.transactionNo }}
          </td>
        </ng-container>

        <ng-container matColumnDef="purchase-datetime">
          <th mat-header-cell *matHeaderCellDef>Date</th>
          <td mat-cell *matCellDef="let element">
            {{ element.transDateTime | date: "medium" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="purchase-total-items">
          <th mat-header-cell *matHeaderCellDef>Total Items</th>
          <td mat-cell *matCellDef="let element">
            {{ element.totalItemQuantity | number: "1.0" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="purchase-total-amount">
          <th mat-header-cell *matHeaderCellDef>Total Amount</th>
          <td mat-cell *matCellDef="let element">
            {{ element.totalAmount | currency }}
          </td>
        </ng-container>

        <ng-container matColumnDef="expand">
          <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
          <td mat-cell *matCellDef="let element">
            <button
              mat-icon-button
              aria-label="expand row"
              (click)="
                expandedTransaction = expandedTransaction === element ? null : element;
                $event.stopPropagation()
              "
            >
              <mat-icon *ngIf="expandedTransaction !== element">keyboard_arrow_down</mat-icon>
              <mat-icon *ngIf="expandedTransaction === element">keyboard_arrow_up</mat-icon>
            </button>
          </td>
        </ng-container>

        <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
        <ng-container matColumnDef="expandedDetail">
          <td mat-cell *matCellDef="let trans" [attr.colspan]="6">
            <div class="hide-expanded-detail" [@detailExpand]="trans == expandedTransaction ? 'expanded' : 'collapsed'">
              <table
                mat-table
                [dataSource]="trans.items"
                class="mat-elevation-z8"
              >
                <ng-container matColumnDef="item-no">
                  <th mat-header-cell *matHeaderCellDef>Item No</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.itemNo }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="item-name">
                  <th mat-header-cell *matHeaderCellDef>Name</th>
                  <td mat-cell *matCellDef="let element">
                    {{ getCheese(element.cheeseId).title }}
                  </td>
                </ng-container>
        
                <ng-container matColumnDef="item-quantity">
                  <th mat-header-cell *matHeaderCellDef>Quantity</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.quantity | number: "1.0" }}
                  </td>
                </ng-container>
        
                <ng-container matColumnDef="item-price">
                  <th mat-header-cell *matHeaderCellDef>Price</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.price | currency }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="item-total">
                  <th mat-header-cell *matHeaderCellDef>Total</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.total | currency }}
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="purchasedItemColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: purchasedItemColumns"></tr>
              </table>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="purchasesColumns"></tr>
        <tr mat-row *matRowDef="let element; columns: purchasesColumns;"
          (click)="expandedTransaction = expandedTransaction === element ? null : element">
        </tr>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="expanded-detail-row"></tr>
      </table>
    </div>
  </div>
</div>
