
.mat-table {
  width: 100%
}

.mat-column-purchase-no {
  padding-right: 24px;
  text-align: center
}

.mat-column-purchase-total-items {
  text-align: center
}

.mat-column-purchase-total-amount {
  text-align: right;
}